body {
    background-image: url(../img/background.jpg);
    background-size: 100%;
    background-attachment: fixed;
}
div {
    margin: 0px;
    padding: 0px;
}
div.text {
    padding-left: 20%;
    padding-right: 20%;
}
p.a {
    font-size: 30px;
    color: white;
}
p.h1 {
    text-align: center;
    line-height: 300%;
}
p.text {
    text-indent: 2em;
    line-height: 200%;
}